{{ 'custom-bundler.css' | asset_url | stylesheet_tag }}

<div class = "container .custom-bundler__pdp">

  <div class = ".custom-bundler__pdp__heading">
  	<div class = "title"> {{product.title}}</div>
    <div class = "price"> {{product.price | money }}</div>
  </div>


  {%comment%}Call each product{%endcomment%}
  {%for _product in product.metafields.bundler %}
      {%render 'product-bundler-pdp-item', product: all_products[_product[1]]%}
  {%endfor%}

</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}
