{{ 'custom-bundler.css' | asset_url | stylesheet_tag }}
{{ 'custom-bundler.js' | asset_url | script_tag }}

<div class = "container custom-bundler__pdp">

  <div class = ".custom-bundler__pdp__heading">
  	<div class = "title"> {{product.title}}</div>
    <div class = "price"> {{product.price | money }}</div>
  </div>


  {%comment%}Call each product{%endcomment%}
   <div class = "custom-bundler__pdp__items">
    {%for _product in product.metafields.bundler %}
        {%render 'product-bundler-pdp-item', product: all_products[_product[1]]%}
    {%endfor%}
  </div>
  
  <div class = "all-selections"></div>
  
  <button class = "add-to-cart">
  	Add Bundle to Cart
  </button>
  


</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}
