
/*##################
# Product Pages ##
##################
*/

.custom-bundler__pdp__items {
    background-color: #fafafa;
    padding: 25px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.custom-bundler__pdp__item {
  	width: 321px;
    flex-wrap: wrap;
    margin: 0 20px 0 0;
}

.custom-bundler__pdp__product-card {
    background-color: #eeeeee;
    width: 321px;
    height: 680px;
    border: 1px solid #464646;
    flex-wrap: wrap;
    margin: 20px 20px 0 0;
    border-radius: 19px;
}

.custom-bundler__pdp__item .card{
	text-align: center;
    margin: auto;
}

.custom-bundler__pdp__item .card .title{
	height: 50px;
}

.custom-bundler__pdp__item .card .title h2{
	font-size: 13px;
}

.custom-bundler__pdp__item .card img{
    object-fit: contain;
    width: 284px;
    height: 360px;
    background-color: aliceblue;
}

.custom-bundler__pdp__item .variants{
	margin: auto;
}

.custom-bundler__pdp__item .variants .option-label{
    margin: 10px 0 3px 0;
    text-align: center;
}


.custom-bundler__pdp__item .variants .optionSelector{
    display: flex;
    padding: 7px;
    flex-wrap: wrap;
    place-content: center;
}

.custom-bundler__pdp__item .variants .optionSelector .option-group{
	margin: 3px
}

.custom-bundler__pdp__item .variants .choice.Color {
    height: 45px;
    width: 45px;
    margin: 0 5px 5px 0;
    z-index: 1;
    position: relative;
}

.custom-bundler__pdp__item .variants .choice.Color.image {
    z-index: 0;
    position: absolute;
  	margin-top: -46px
}

.custom-bundler__pdp__item .variants .choice.Color img{
	height: 45px;
  	width: 45px;
}

.custom-bundler__pdp__item .variants .choice.Size{
	font-size: 13px;
    line-height: 1;
    background-color: white;
    border: 1px solid black;
    margin: 3px;
    padding: 8px;
    white-space: pre;
}

.custom-bundler__pdp__item .variants .choice {
	cursor: pointer;
}

.custom-bundler__pdp__item .variants .active{
	color: red;
}

.custom-bundler__pdp .add-to-cart {
    display: flex;
    margin: 60px auto;
  	padding: 29px;
    font-size: 18px;
    border-radius: 39px;
    outline: none;
    border: 1px solid gray;
}


.custom-bundler__pdp .all-selections {
	background-color: #d9d9d9;
    display: flex;
    margin-top: 19px;
    padding: 22px;
  	place-content: center;
}

.custom-bundler__pdp .all-selections .custom-bundler__pdp__your-selection {
	background-color: yellow;
  	margin-right: 20px;
  	height: 280px;
}

.custom-bundler__pdp .all-selections .custom-bundler__pdp__your-selection img {
  height: 280px
}


/*################
# Collections ##
################
*/
.custom-bundler-grid {
	background-color: #f6f6f6;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}

.custom-bundler-grid__product_item {
    width: 368px;
    display: flex;
    background-color: white;
    height: 760px;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
  	color: #717171;
  	place-content: baseline;
}


.custom-bundler-grid__product__info {
    font-size: 19px;
    font-weight: 600;
    display: flex;
    margin-bottom: 20px;
}


.custom-bundler-grid__product__info__title {
	width: 70%; 
}

.custom-bundler-grid__product__what-includes__title {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 4px;
    margin-bottom: 15px;
}

.custom-bundler-grid__product__what-includes__grid {
	display: flex;  
}

.custom-bundler-grid__product__what-includes__grid__item {
	display: flex;
    flex-wrap: wrap;
    width: 90px;
    margin: 12px 16px;
}

.custom-bundler-grid__product__what-includes__grid__item__title {
	font-weight: 600;
}

.custom-bundler-grid__product__customize {
	margin: auto;
}

.custom-bundler-grid__product__customize button{
    border: 3px solid #979797;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
}

.custom-bundler-grid__product__customize button a {
 	color: grey; 
}
